#wrap main {}
#wrap main .path {
    text-align:right;
    padding:12px 60px 12px 0;
    font-size:0.75rem;
    background-color:#FCFCFC;
    letter-spacing:0;
    border:1px solid #f1f1f1;
    border-right:0; border-left:0;
}
#wrap main .path * {/* 글자디자인 */}
#wrap main .path a {}
#wrap main .path img {margin:0 8px;}
#wrap main .path em {}
#wrap main > * {text-align:center;}
#wrap main h1 {
    margin:80px 0 20px;
    font-size:3.5rem;
    font-weight:800;
}
#wrap main > p {
    margin-bottom:40px;
    font-size:1.125rem;
    line-height:1.5;
}
#wrap main .bg {
    background-color:#fcfcfc;
    padding:80px 0;
}
/* 레이아웃 위치/정렬 기법 종류 inline-block, float, flex, grid, position */
#wrap main .bg .ir_list {
    /* overflow:hidden; */
    width:1280px;
    margin:0 auto;
    padding:0 80px;
    height:250px;
}
#wrap main .bg .ir_list a {
    float:left;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    width:260px; height:250px;
    margin-right:26.67px;
    text-align:left;
    padding:30px;
    background-repeat:no-repeat; background-position:90% 90%;
}
#wrap main .bg .ir_list a:hover {
    /* a 마우스 올렸을 때 디자인 */
    background-color:#fff;
    border:1px solid #138FBF;
    box-shadow:0 0 30px rgba(0,0,0,0.2)
}
#wrap main .bg .ir_list a:first-child {background-image:url(../images/ir/ir_01.png);}
#wrap main .bg .ir_list a:nth-child(2) {background-image:url(../images/ir/ir_02.png);}
#wrap main .bg .ir_list a:nth-child(3) {background-image:url(../images/ir/ir_03.png);}
/* #wrap main .bg .ir_list a:nth-child(4) {float:right;} */
#wrap main .bg .ir_list a:last-child {background-image:url(../images/ir/ir_04.png);margin-right:0;}/* 4번째 자식으로 하지않고 수가 늘거나 줄었을 때에도 유지보수 하기 좋게 마지막(또는 첫번째)을/를 잡아주는게 좋다 */
#wrap main .bg .ir_list a h2 {
    margin-bottom:20px;
    font-size:1.25rem;
    font-weight:700;
}
#wrap main .bg .ir_list a p {
    font-size:0.875rem;
    line-height:1.5;
}