#wrap {}
#wrap main {text-align:center;}
#wrap main .path {
    padding:12px 60px 12px 0;
    text-align:right;
    font-size:0.75rem;
    background-color:#EEEEEE;
}
#wrap main .path a {color:#555;}
#wrap main .path img {
    margin:0 10px;
}
#wrap main .path em {color:#333;}
#wrap main h1 {
    font-size:3.5rem;
    font-weight:700;
    margin:80px 0 20px;
}
#wrap main > p {
    font-size:1.125rem;
    margin-bottom:60px;
}
#wrap main .bg {
    background-color:#FCFCFC;
    padding:90px 0;
}
#wrap main .bg .container {
    margin:0 auto;
    width:1280px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
#wrap main .bg .container a {
    width:390px; height:360px;
    background-color:#F5F5F5;
    border:1px solid #eee;
    display:flex; flex-flow:column nowrap;
    justify-content:center;
}
#wrap main .bg .container a:hover {
    background-color:#fff;
    border:1px solid #0693E3;
    box-shadow:0 0 30px rgba(0,0,0,0.3);
}
#wrap main .bg .container a:last-child {}
#wrap main .bg .container a p {}
#wrap main .bg .container a p img {}
#wrap main .bg .container a h2 {
    margin:20px 0;
    font-size:1.75rem;
    font-weight:700;
}
#wrap main .bg .container a h2+p {
    font-size:0.875rem;
    font-weight:500;
    color:#888888;
}